<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OnDenim | Home</title>
</head>
<body>
        <header>
                 <!-- Logo -->
                <div class="contenedor-logo">
                        <img src="/img/logo.png" alt="Logo-OnDenim">
                </div>
                <!-- Barra de navegacion -->
                <nav>
                <!-- menu pagina -->
                        <div>
                                <ul>
                                        <li><a href="">Nuestros Jeans</a></li>
                                        <li><a href="">¿Quiénes somos?</a></li>
                                        <li><a href="">¡OFERTAS!</a></li>
                                </ul>
                        </div>
                <!-- buscador -->
                        <div>
                                <form action="">
                                        <input type="text" placeholder="Buscar productos, marcas">
                                        <button class="boton-searchNav"><i class="fas fa-search"></i></button>  
                                </form>
                        </div>
                <!-- menu usuario -->
                        <div>
                                <ul class="menu-usuario">
                                        <li><a href="#">Creá tu cuenta<i class="fas fa-address-card"> </i></a></li>
                                        <li><a href="#">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                                        <li><a href="#">Mis compras<i class="fas fa-shopping-basket"> </i></a></li>
                                </ul>
                        </div>
                </nav>
        </header>
        <main>
                
        </main>
        <footer>

        </footer>
</body>
</html>