body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
        margin:0;
        padding:0;
        }
        table {
        border-collapse:collapse;
        border-spacing:0;
        }
        fieldset,img {
        border:0;
        }
        address,caption,cite,code,dfn,em,strong,th,var {
        font-style:normal;
        font-weight:normal;
        }
        ol,ul, li {
        list-style:none;
        color: #0000;
        }
        caption,th {
        text-align:left;
        }
        h1,h2,h3,h4,h5,h6 {
        font-size:100%;
        font-weight:500;
        }
        q:before,q:after {
        content:'';
        }
        abbr,acronym { border:0;
        }
        a{
                text-decoration: none;
                color: rgb(0, 0, 0);
        }

body{
        text-decoration: none;
}


.carrusel {
        width: 100vw;
        height: 30vh;
        background-image: url(/img/carrusel.jpg);
        background-repeat: no-repeat;
        background-size: contain;
}

.flex-colum{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.cajas-productosPersonalizados {
        width: 85vw;
        height: max-content;
        margin: 10px 0 10px 0;
        padding: 10px 0 15px;
        border-radius: 6px;
        overflow: hidden;
        box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%);
        transition: all .3s ease-in-out;
}

.img-producto  img{
        display: block;
        margin: 0 auto;
        max-width: 150px;
        max-height: 150px;
        object-fit: contain;
        transition: all .3s ease-in-out;
}


