<footer class="flex-colum">
        <!-- bloque suscribite -->
                <div class="bloque-suscribite flex-colum">
                        <div>
                                <h4 class="title-suscribite">10% de descuento en tu primera compra online</h4>
                                <p class="descripcion-suscribite">SUSCRIBIÉNDOTE A NUESTRO NEWSLETTER</p>
                        </div>
                        <a href="">
                                <button class="boton-suscribite"> <h4 class="titulo-boton-suscribite">SUSCRIBITE AL NEWSLETTER</h4c></button>
                        </a>
                </div>
                <div class="footer-datosContacto flex-row">
                        <div>
                                <h5>Estamos en</h5>
                                <p>Av. xxxxxxxxx</p>
                        </div>
                        <div>
                                <h5>Contáctanos</h5>
                                <p>5490023232</p>
                                <p>5490023232</p>
                        </div>
                        <div>
                                <h5>Información</h5>
                                <a href=""><p>Politicas de devolución</p></a>
                                <a href=""><p>Guia de talles</p></a>
                        </div>
                        <div class="redesSociales">
                                <a href=""><i class="fab fa-instagram"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-twitter"></i></a>                      
                        </div>
                </div>
                
        </footer >
        <script src="https://code.jquery.com/jquery-3.6.0.js" integridad="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anónimo"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script src="/javascripts/popper.min.js"></script>
        <script src="/javascripts/owl.carousel.min.js"></script>
        <script src="/javascripts/scripts.js"></script>

