</head>
<body>   
<header class="flex-row">
        <!-- Logo -->
       <div class="contenedor-logo">
              <a href="/"><img src="/images/logo.png" alt="Logo-OnDenim"></a> 
       </div>
       <!-- Barra de navegacion -->
       <nav>
       <!-- menu pagina -->
               <div class="contenedor-menuPagina">
                       <ul class="menuPagina">
                               <li  class="item-menu"><a href="">Nuestros Jeans</a></li>
                               <li class="item-menu"><a href="">¿Quiénes somos?</a></li>
                               <li class="item-menu"><a href="">¡OFERTAS!</a></li>
                       </ul>
               </div>
       <!-- buscador -->
               <div class="buscador-nav">
                       <form action="">
                               <input class="search-navInput" type="text" placeholder="Buscar productos, marcas">
                               <button class="boton-searchNav"><i class="fas fa-search"></i></button>  
                       </form>
               </div>
       <!-- menu usuario -->
               <div class="contenedor-menuUsuario">
                       <ul class="menu-usuario">
                               <li class="user-desktop"><a href="/login"><i class="fas fa-user"></i> </a></li>
                               <li class="shop-desktop"><a href="#"><i class="fas fa-shopping-bag"></i></a></li>
                               <li class="register-mobile"><a href="/register">Creá tu cuenta<i class="fas fa-user"></i></a></li>
                               <li class="login-mobile"><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                               <li class="shop-mobile"><a href="#">Mis compras<i class="fas fa-shopping-bag"></i></a></li>
                       </ul>
               </div>
       </nav>
</header>
<div class="menu-mobile">
                       
<div class='dropdown'>
<div class='title pointerCursor'> <i class="fa fa-bars"></i></div>

       <div class='menu pointerCursor hide'>
               <div class='option' id='option1'>HOME </div>
               <div class='option' id='option2'><a href="/carrito">CARRITO </a></div>
               <div class='option' id='option3'><a href="/detalle-producto">PRODUCTO </a></div>
               <div class='option' id='option4'><a href="/login">LOGIN/REGISTER </a></div>
       </div>
</div>

</div>