</head>
<body>   
<header class="flex-row">
        <!-- Logo -->
       <div class="contenedor-logo">
              <a href="/"><img src="/images/logo.png" alt="Logo-OnDenim"></a> 
       </div>
       <!-- Barra de navegacion -->
       <nav>
       <!-- menu pagina -->
               <div class="contenedor-menuPagina">
                       <ul class="menuPagina">
                               <li  class="item-menu"><a href="/productos">Nuestros Jeans</a></li>
                               <li class="item-menu"><a href="#">¿Quiénes somos?</a></li>
                               <li class="item-menu"><a href="/productos/sale">¡OFERTAS!</a></li>
                       </ul>
               </div>
       <!-- buscador -->
               <div class="buscador-nav">
                       <form action="/productos/search" method="GET">
                               <input class="search-navInput" type="text" name="keywords" placeholder="Buscar productos, marcas">
                               <button type="submit" class="boton-searchNav"><i class="fas fa-search"></i></button>  
                       </form>
               </div>
       <!-- menu usuario -->
       <% if (locals.isLogged) { %>
        <div class="div-avatar">
                <img src="/images/avatar/<%= user.avatar %>" alt="Avatar" title="Avatar de <%= user.fullName %>"   class="user-image user-imageHeader ">
        </div>
        <% } %>

               <div class="contenedor-menuUsuario">

                       <ul class="menu-usuario">
                               <li class="user-desktop"><i class="fas fa-user"></i>
                                        <ul class="subMenu-log">
                                                <% if (!locals.isLogged) { %>
                                                <li><a href="/user/register">Crear tu cuenta</a> </li>
                                                <li><a href="/user/login"> Iniciar sesión </a></li>
                                                <% } %>
                                                <% if (locals.isLogged) { %>
                                                <li><a href="/user/profile"> Mi perfil </a></li>
                                                <li><a href="/user/logout">Cerrar sesión </a></li>
                                                <% } %>
                                        </ul>
                                </li>       
                               <li class="shop-desktop"><a href="/carrito"><i class="fas fa-shopping-bag"></i>
                                <span class="cart-number">0</span>        
                        </a></li>
                               <% if (locals.isLogged) { %>
                                <li class="user-desktop" title="Salir"><a href="/user/logout" ><i class="fa fa-sign-out"></i></a></li>
                                <% } %>

                               
                               <li class="register-mobile"><a href="/user/register">Creá tu cuenta<i class="fas fa-user"></i></a></li>
                               <li class="login-mobile"><a href="/user/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                               <li class="shop-mobile"><a href="/carrito">Mis compras<i class="fas fa-shopping-bag"></i></a>
                                <span class="cart-number">0</span>
                                </li>
                       </ul>
               </div>
       </nav>
</header>
<div class="menu-mobile">
                       
<div class='dropdown'>
<div class='title pointerCursor'> <i class="fa fa-bars"></i></div>

       <div class='menu pointerCursor hide'>
               <div class='option' id='option1'>HOME </div>
               <div class='option' id='option2'><a href="/carrito">CARRITO </a>
                        <span class="cart-number">0</span>
                </div>
               <div class='option' id='option3'><a href="/detalle-producto">PRODUCTO </a></div>
               <div class='option' id='option4'><a href="/user/login">LOGIN/REGISTER </a></div>
       </div>
</div>

</div>