<div class="cajas-productosPersonalizados  flex-colum ">
        <div class="img-producto">
                <img src="/images/productos/jean1.jpg" alt="Producto 1">
        </div> 
        <div class="descripcion">

                <h3 class="descripciones-productos">Jean 1</h3>
                <h4 class="precios">$ 10.000</h4>
        </div> 
</div>  
<!-- producto 2 -->
<div class="cajas-productosPersonalizados  flex-colum solo-mobile">
        <div class="img-producto">
                <img src="/images/productos/jean1.jpg" alt="Producto 1">
        </div> 
        <div class="descripcion">
                <h3 class="descripciones-productos">Jean 2</h3>
                <h4 class="precios">$ 10.000</h4>
        </div> 
</div>
<!-- producto 3 -->
<div class="cajas-productosPersonalizados  flex-colum solo-mobile solo-tablet">
        <div class="img-producto">
                <img src="/images/productos/jean1.jpg" alt="Producto 1">
        </div> 
        <div class="descripcion">
                <h3 class="descripciones-productos">Jean 3</h3>
                <h4 class="precios">$ 10.000</h4>
        </div> 
</div>     
<!-- producto 4 -->
<div class="cajas-productosPersonalizados  flex-colum solo-mobile solo-tablet">
        <div class="img-producto">
                <img src="/images/productos/jean1.jpg" alt="Producto 1">
        </div> 
        <div class="descripcion">
                <h3 class="descripciones-productos">Jean 4</h3>
                <h4 class="precios">$ 10.000</h4>
        </div> 
</div>            