
.table-responsive{
  padding: 15px;
}
.cesta{
  margin: 0 auto;
}
.cesta-beneficios-actualizar {
  text-align: center;
  padding: 10px 0;
}
  .cesta-beneficios-actualizar span:nth-of-type(1) {
    font-size: 18px;

  }
  .cesta-beneficios-actualizar span:nth-of-type(2) {
    font-size: 16px;
    float: right;
    padding-top: 25px;
    font-weight: bold;
  }
  
  .cesta-beneficios-actualizar span:nth-of-type(2) em {
    color: green;
    
  }
.total4{
  padding: 8px;
}
  
  table th {
    text-align: left;
     border-bottom:1pt solid var(--colorPrincipal);
  }
  
  tr.totales td {
    font-weight: bold;
    text-align: right;
  }
  
  tr td:nth-of-type(4){
    text-align: right;
  }
  
  tr td:nth-of-type(2), tr td:nth-of-type(3){
    text-align: center;
  }
  .btn{
    width: 50%;
  }
  /* body{
    font-family: 'Poppins';
    font-weight: normal;
    font-size: 100%;
    color: #1b262c ;

    margin: 0;
    background-color: #fff9f6;
} */

.categoria{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.container{
  display: flex;
  align-items: top;
  justify-content: center;

  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
}

.central{
  max-width: 320px;
  width: 100%;
}

.title{
  font-size: 250%;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}

.loginconsult{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login input::placeholder{
  color: #1d1a27;
  font-family: 'Poppins';
  padding-left: 3px;
}

.login input{
  margin-top: 2%;
  width: 100%;
  display: block;
  clear: both;
}

.login button{
  font-family: 'Poppins';
  font-size: 110%;
  color: #1b262c;
  width: 102%;
  height: 40px;
  border: none;

  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  
  background-color: #bbe1fa;
  
  margin-top: 10px;
}

.login button:hover{
  background-color: #0f4c75;
  color:#bbe1fa;
}

.foot-form a{
  display: block;
  text-decoration: none;
  color: #bbe1fa;
  margin-bottom: 3px;
}

.foot-form a:hover{
  color: #0f4c75;
}

.bottom {
  margin-top: 10px;
  font-size: 90%;
  text-align: center;
}

.bottom a {
  display: block;
  text-decoration: none;
  color: #bbe1fa;
  margin-bottom: 3px;
}

.bottom a:hover {
  color: #3282b8;
}

  @media screen and (min-width: 460px) {
    .cesta{
      width: 85%;
    }
    .continuar{
      width: 40%;
    }
    }
